<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<header>
  <h1>Crystal Docker Example</h1>
  <% if current_user %>
    <p>Logged in as <%= current_user.name %></p>
    <form method="POST" action="/logout">
      <button>Logout</button>
    </form>
  <% else %>
    <a href="/login">Login</a>
    or
    <a href="/signup">Sign up</a>
  <% end %>

</header>

<main>
