<form method="POST">
  <div>
    <label>
      Email
      <input type="email" name="email" />
    </label>
  </div>

  <div>
    <label>
      Name
      <input name="name" />
    </label>
  </div>

  <div>
    <label>
      Password
      <input type="password" name="password" />
    </label>
  </div>

  <button>Sign up!</button>
</form>
